<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">MUSCLE GYM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Trang chủ</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="/login">
                        Chào {{ current_user.full_name }}!
                    </a>
                </li>
                {% if current_user.role.name =='LETAN' %}
                <li class="nav-item">
                    <a class="nav-link active" href="/reception">&#128100;Hội Viên</a>
                </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">&#128508;Đăng xuất</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="/login">&#128508;Đăng nhập</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>